body{
    font-family: 'Kumbh sans', sans-serif;
    font-size: 18px;
    /* cicle background */
    background-color: var(--background-color);
    /* background-image: url("/images/bg-pattern-top.svg"), url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat no-repeat;
    background-position: right 52vw bottom 35vh, left 48vw top 52vh; */
    background-image: url("./src/images/bg-pattern-top.svg"), url("./src/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}

span{
    color:var(--text-color);
    font-weight: 400;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.name .data{
    font-weight: 700;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    /* width: 350px; */
    /* height: 375px; */
    padding: 30px;
    background-color: #fafafa;
    border-radius: 10px;
    background-image: url("./src/images/bg-pattern-card.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.card .personal-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
}

.card .personal-info img{
    margin-top: 30px;
    border-radius: 50%;
}

.name{
    padding-top: 20px;
}

.location{
    padding-top: 25px;
    padding-bottom: 25px;
}


.card .account-info{
    text-align: center;
    padding-top:25px;
}

@media (max-width: 415px){
    .card{
        width: 90%;
    }
}